<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gooagoo.ad.mapper.UserPicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gooagoo.ad.entity.UserPic">
        <id column="upicid" property="upicid" />
        <result column="userid" property="userid" />
        <result column="pic" property="pic" />
        <result column="gxsj" property="gxsj" />
        <result column="rlsbzp" property="rlsbzp" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        upicid, userid, pic, gxsj, rlsbzp
    </sql>

</mapper>
